@import "utilities/variables"; 
@import "utilities/indexEsti"; 
@import "utilities/footerEsti"; 
@import "utilities/headerEsti"; 
@import "utilities/colabEsti"; 
@import "utilities/contactEsti"; 
@import "utilities/QSEsti"; 
@import "utilities/modDisEsti"; 

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace;
}
.wrapTotal {
   background-color: $grisClaro; 
   background-image: url(../images/trbien.png);
   max-width: 100%;
   overflow-x: hidden;
   z-index: -1;
   height: 100%;
}
.wrap{
    @include glassmorphism;
    margin:3em auto 0 auto;
    width: fit-content;
    max-width: 60rem;
    padding: 2em;
    display: flex;                                   
    max-height: 28rem;
    img{
            @include imagen;
    }
}
@media (max-width: $pantallaMedia) {
    .wrap {
        height: auto;
        padding-left: 4em;
        max-height:fit-content;
        margin: 3rem;
    }
}
@media (max-width: $pantallaXChica){
    .wrap {
        margin: 10%;
        padding:1em;
    }
}
.texto {
    text-transform: uppercase;
    text-align: justify;
    color: #FFF;
    margin: 3vh;
    text-align: center;
    text-shadow: 1px 1px 10px $grisClaro;
    font-weight: 600;
}
.titulo {
    @include glassmorphism;
    padding: 1rem;
    text-transform: uppercase;
    color: #FFF;
    margin: 10vh 25%;
    text-align: center;
    max-height: 250px;
    a {
        text-decoration: none;
        color: $mostaza;
        &:hover {
            filter: drop-shadow(1px 0px 5px $grisTenue);
    }
}
}
.sombra {
    text-shadow:$mostaza 2px 2px; 
}
.sombraInvertida {
    text-shadow:$mostaza 2px -2px;
} 
.display-7 {
    font-size: 2rem;    
}
.sombraTenue {
    text-shadow:$mostaza 2px 2px 5px;
}
