@import "utilities/_variables.scss"; 
@import "utilities/_indexEsti.scss"; 
@import "utilities/_footerEsti.scss"; 
@import "utilities/_headerEsti.scss"; 
@import "utilities/_colabEsti.scss"; 
@import "utilities/_contactEsti.scss"; 
@import "utilities/_QSEsti.scss"; 
@import "utilities/_modDisEsti.scss"; 

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace;}
.wrapTotal {
   background-color: $grisClaro; 
   background-image: url(../images/trbien.png);
   max-width: 100%;
   overflow-x: hidden;
   z-index: -1;
}
.wrap{
    @include glassmorphism;
    margin:10%;
    margin-top:3em;
    padding: 2em;
    display: flex;                                   
    height: 80vh;
    justify-content: center;    
}
.texto {
    text-transform: uppercase;
    text-align: justify;
    color: #FFF;
    margin: 3vh;
    text-align: center;
    text-shadow: 1px 1px 10px $grisClaro;
}
.titulo {
    @include glassmorphism;
    padding: 1rem;
    text-transform: uppercase;
    color: #FFF;
    margin: 10vh 25%;
    text-align: center;
    font-weight: 600;
    max-height: 250px;
    a {
        text-decoration: none;
        color: $mostaza;
        &:hover {
            filter: drop-shadow(1px 0px 5px $grisTenue);
    }
}
}
.sombra {
    text-shadow:$mostaza 2px 2px; 
}
.sombraInvertida {
    text-shadow:$mostaza 2px -2px;
} 
.display-7 {
    font-size: 2rem;    
}
.sombraTenue {
    text-shadow:$mostaza 2px 2px 5px;
}
@media (max-width: $pantallaMedia) {
    .wrap {
        height: auto;
        padding-left: 4em;
        max-height:fit-content;
    }
}
@media (max-width: $pantallaXChica){
    .wrap {
        padding:1em;
    }
}