.carousel {
    max-width: 400px;
    height: auto;
    overflow: hidden;
}
.titu-art{
    background-color: $transpaClaro;
    box-shadow: -4px 4px 10px rgb(0, 0, 0,);
    border: 1px solid $grisClaro;
    border-radius: 10px;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}
@media (max-width: $pantallaMedia) {
    .titu-blan {
        font-size: 2rem;
        font-weight: 700;
    }
}
.fila-titu {
    @include flex (flex, row, nowrap, center, center, 0);
    width: 90vw;
    margin: 2rem auto;
    span {
        font-weight: 900;
    }
}
.fila-fotos {
    @extend %linea-tres;
    img {
    @extend %glassmorphism;
    @extend %imagen;
    }
}
@media (max-width: $pantallaChica) {
    .fila-fotos {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}
.fila {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 90vw;
    margin: 2rem auto;
    max-width: 1000px;
    .titulo {
        max-width: 300px;
        height: fit-content;
        padding: 2rem;
    }
    .wrap {
        max-width: fit-content;
    }
    .reversa {
        order: -1;
    }
}
@media (max-width: $pantallaMedia) {
    .fila {
        grid-template-columns: 1fr;
        align-items: center;
        .titulo {
            width: 100%;
        }
        .wrap{
            width: fit-content;
            padding: 2rem;
            margin: 0 auto;
            text-align: center;
        }
        .reversa {
            order: 1;
        } 
    }
}
