%glassmorphism {
    background-color: $transpaClaro;
    box-shadow: -4px 4px 10px rgb(0, 0, 0,);
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 10px;
    backdrop-filter: blur(2px);
}
%imagen {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .4);
    width: 100%;
    height: auto;
}

%opt-text {
    text-shadow: 1px 0px 1px #000, -1px 0px 1px #000,
    0px 1px 1px #000,0px -1px 1px #000, 0px 0px 10px #fff;
}
%linea-tres {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 2rem auto;
    width: 90vw;
    max-width: 1000px;
    div{
        margin: 1rem;
    }

}