.pie {
    grid-area:foot;
    background: rgb(0,0,0);
    color: map-get($paleta, grisCla);
    position: relative;
    bottom: 0;
    @include flex (flex, column, nowrap, space-around, center, 0);
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    .iconos  {
        display: flex;
        justify-content: center;
        padding: 2rem 0rem 1rem;
        a{
            margin: 0 2rem;
        }
    }
    .legal {
        @include flex (flex, column, nowrap, space-around, center, 0);
        width: 70%;
        padding-bottom: 2vh;
    }
    a {
        font-weight: 600;
        color: map-get($paleta, grisCla);
        &:hover{
            color: map-get($paleta, mosta);
            transition:0.5s ease-out;
        }
    }
}
@media (max-width: $pantallaMedia) {
    .pie {
    .iconos {
        width: 100vw;
        padding: 2rem 0 .5rem;
        margin:0 4rem;
    }
    }
}
.bi {
    height: 2em;
    width: auto;
    :hover {
        color: map-get($paleta, mosta);
        transition:0.2s ease-out;
    }
}
