.pie {
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(8,8,8,1) 0%, rgba(21,21,21,1) 88%);
    color: map-get($paleta, grisCla);
    width: 100vw;
    padding: 1rem;
    bottom: 0;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:1rem;
    .iconos  {
        display: flex;
        justify-content: center;
        gap:2rem;
        padding: 2rem 0rem .5rem;
    }
    .legal {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding-bottom: 2vh;
    }
    a {
        font-weight: 600;
        color: map-get($paleta, grisCla);
        &:hover{
            color: map-get($paleta, mosta);
            transition:0.5s ease-out;
        }
    }
}
@media (max-width: $pantallaMedia) {
    .pie {
    .iconos {
        width: 100vw;
        padding: 2rem 0 .5rem;
        gap:4rem;
    }
    }
}
.bi {
    height: 2em;
    width: auto;
    :hover {
        color: map-get($paleta, mosta);
        transition:0.2s ease-out;
    }
}
