.grilla3 {
    display: flex;
    place-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 3rem;
}

.modDisWrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include glassmorphism;
    max-width: 20rem;
    margin: 2rem;
    padding: 1rem;
    img {
        @include imagen;
        height: 80%;
    }
}
@media (max-width: $pantallaMedia){
    .grilla3 {
        flex-direction: column;
    }
    .modDisWrap {
        width:70vw;
        img {
            height: 60%;
        }
    }
}