.qs-wrap {
    @include flex (flex, row, nowrap, space-between, center, 2em); 
    @extend %glassmorphism;
    margin-top: 3em;
    max-width: 60rem;
    align-items: center;
    justify-content: space-between;
    p {
        width: 30%;
        margin: auto;
        text-align: center;
        font-weight: 600;
    }
    img {
        @extend %imagen;
        height: auto;
        width: 50%;
        margin: 1rem;
    }
}
.reverse {
    flex-direction: row-reverse;
}
@media (max-width:$pantallaMedia) {
    .qs-wrap {
        flex-direction: column-reverse;
        padding: 1em;
        margin: 3rem auto;
        max-width: 500px;
        img {
            width: 100%;
        }
        p {
            width: 100%;
            font-weight: 500;
        }       
    }
    .reverse {
        flex-direction: column;
    }
}
@media (max-width:$pantallaChica) {
    .qs-wrap {
        max-width: 400px;
    }
}