.qs-wrap {
    @include flex (flex, row, nowrap, space-around, center, 1em); 
    @extend %glassmorphism;
    margin: 3em auto;
    max-width: 60rem;
    align-items: center;
    p {
        width: 30%;
        margin: .5em;
        text-align: center;
    }
    img {
        @extend %imagen;
        width: 45%;
        margin: .5em;
    }
  
}

.reverse {
    flex-direction: row-reverse;
}
@media (max-width:$pantallaMedia) {
    .qs-wrap {
        @include flex (flex, column-reverse, nowrap, space-around, center, 1em);
        margin: 3rem auto;
        max-width: 500px;
        img {
            width: 100%;
        }
        p {
            width: 100%;
        }       
    }
    .reverse {
        flex-direction: column;
    }
}
@media (max-width:$pantallaChica) {
    .qs-wrap {
        max-width: 400px;
    }
}