
.carousel {
    max-width: 400px;
    height: auto;
    overflow: hidden;
}
.wrapCaru {
    @include glassmorphism;
    padding: 5vh;
    width:fit-content;
    gap:1em;
    overflow: hidden;               
}

.bg-light{
    background-color: rgba(255, 255, 255, .3) !important;
    box-shadow: -4px 4px 10px rgb(0, 0, 0,);
    border: 1px solid $grisClaro;
    border-radius: 10px;
    span {
        font-weight: 400;
    }
}
.bg-dark{
    background-color: $transpaClaro !important;
}
.rounded {
    border-radius: 3% !important;
}
.warning {
    color: $mostaza;
}
.container p a:hover {
    color: $mostaza;
    text-shadow:#fff 2px 2px 10px;
}
