.colCon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacWrap {
    @include glassmorphism;
    margin: 5vh auto;
    display: flex;
    height: fit-content;
    max-width: 60rem;
    min-width: 300px;
    align-items: center;
    padding: 1rem;
    caret-color: $mostaza;
}

.display-8 {
    font-size: 1em;
}

fieldset {
    label,
    input {
        margin-top: 1em;
    }

    input,
    textarea,
    div select{
        background-color: #fff;
    }
}

.boton {
    margin: 2em;
    background-color: $mostaza;
    color: #000;
    text-transform: uppercase;
    padding: .5em;
    font-weight: 600;
    box-shadow: -2vh 2vh #222;
}