.display-8 {
    font-size: 1em;
}
fieldset label{
    margin-top: 1em;
}
.boton{
    margin:2em;
    background-color: $mostaza;
    color:#000;
    text-transform: uppercase;
    padding: .5em;
    font-weight: 600;
    box-shadow: -2vh 2vh $grisOscuro;
}
.contacWrap {
    @include glassmorphism;
    margin: 10vh 25%;
    padding: 1rem;
    caret-color: $mostaza;
}
