
.pie {
    background-color:#000;
    color: $grisClaro;
    bottom:0;
    gap: 1em;
    a {
        font-weight: 600;
        margin: 0% 3%;
        color: $grisClaro;
        &:hover{
            color: $mostaza;
        }
    }
}
.bi {
    height: 2em;
    width: auto;
    :hover {
        color: $mostaza;
    }
}
