.pie {
    background-color: #000;
    color: $grisclaro;
    bottom:0;
    gap: 1em;
}
.pie a {
    font-weight: 600;
    margin: 0% 3%;
    color: $grisClaro;
}
.pie a:hover{
    color: $mostaza;
}
.bi {
    height: 2em;
    width: auto;
}
.bi:hover {
    color: $mostaza;
}
