.logo {
    margin-left: 5%;
    width: 45vh;
    height: auto; 
    &:hover{
        filter: drop-shadow(-1px 0px 5px $grisClaro);
    }
}  

.navbar {
    background-color: $transpa;
    ul {
        margin-right: 5%;
    }  
    .nav-link{
        text-transform: uppercase;
        color: #fff !important;
        font-weight: 700;
        font-size: 1.2vw;
        &:hover{
            color: $mostaza !important;
        }
    }
    .navbar-toggler{
        background-color: rgba(255, 255, 255, .5);
        font-size: 1em;
    } 
}
@media (max-width: $pantallaChica){
    .navbar {
        .nav-link {
            font-size: 1rem;
        }
    }
}