.navbar {
    background-color: $transpa;
    box-shadow: -4px 4px 10px rgb(0, 0, 0,);
    border-bottom: 1px solid $grisOscuro;
    width: 100vw;;
    .logo {
        width: 15rem;
        height: auto; 
        &:hover{
            filter: drop-shadow(-1px 0px 5px $grisClaro);
        }
    }  
    img {
        margin-left: 7%;
    }
    ul {
        margin-right: 7%;
    }  
    .nav-link{
        text-transform: uppercase;
        color: #fff !important;
        font-weight: 700;
        font-size: 1.2vw;
        &:hover{
            color: $mostaza !important;
            filter: drop-shadow(1px 0px 5px $grisTenue);

        }
    }
    .navbar-toggler{
        background-color: rgba(255, 255, 255, .5);
        font-size: 1em;
    } 
}

@media (max-width: $pantallaChica){
    .navbar {
        .nav-link {
            font-size: 1rem;
        }
    }
   
}