
/*PALETA
#BFE028   verdeMostaza
#464838   grisOscuro
#ABAD9A   grisClaro
#00F7DA   cyanClaro
#00BCA3   cyanOscuro*/

$grisOscuro: #464838;
$grisClaro: #ABAD9A;
$mostaza: #BFE028;
$transpa: rgba(0,0,0,.6);

