/*PALETA
#BFE028   verdeMostaza
#464838   grisOscuro
#ABAD9A   grisClaro
#00F7DA   cyanClaro
#00BCA3   cyanOscuro*/
.gridIndex {
  display: grid;
  grid-template-columns: repeat 10, 1fr;
  grid-template-rows: repeat(9, 1fr) 0.5fr;
  grid-template-areas: "buzo buzo chomba chomba soy soy soy soy" "buzo buzo chomba chomba soy soy soy soy" "buzo buzo chomba chomba atras atras cream cream" "buzo buzo chomba chomba atras atras cream cream" "buzo buzo chomba chomba atras atras cream cream" "buzo buzo chomba chomba atras atras cream cream" "buzo buzo chomba chomba atras atras cream cream" "buzo buzo chomba chomba bolso bolso cream cream" "buzo buzo chomba chomba bolso bolso cream cream" "patch patch patch patch bolso bolso cream cream";
  gap: 1em; }
  .gridIndex img {
    border-radius: 3%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    object-fit: cover;
    max-width: 100%;
    max-height: 100%; }
  .gridIndex #soyT {
    text-align: center;
    grid-area: soy;
    font-size: 1.7em;
    font-weight: 500;
    margin: 0px; }
  .gridIndex #patch {
    color: #FFF;
    text-transform: uppercase;
    grid-area: patch;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300; }
  .gridIndex #buzoA {
    grid-area: buzo; }
  .gridIndex #chomba {
    grid-area: chomba;
    width: 100%; }
  .gridIndex #bolso {
    grid-area: bolso;
    height: 100%; }
  .gridIndex #cream {
    grid-area: cream;
    height: 100%;
    width: 100%; }
  .gridIndex #atras {
    grid-area: atras;
    width: 100%; }

@media (max-width: 992px) {
  .gridIndex {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 2fr); }
    .gridIndex #buzoA {
      grid-area: 1 / 1 / 7 / 3;
      height: 100%;
      width: auto; }
    .gridIndex #soyT {
      grid-area: 1 / 3 / 4 / 6;
      font-size: 2em;
      padding: 0; }
    .gridIndex #atras {
      grid-area: 4 / 3 / 7 / 6; }
    .gridIndex #cream {
      grid-area: 10/1/12/4; }
    .gridIndex #bolso {
      display: none; }
    .gridIndex #patch {
      grid-area: 7 / 1 / 10 / 6; }
    .gridIndex #chomba {
      grid-area: 10/4/12/6;
      height: 100%;
      width: auto; } }

@media (max-width: 576px) {
  .gridIndex {
    display: flex;
    flex-direction: column-reverse; }
    .gridIndex #chomba {
      display: none; }
    .gridIndex #buzoA {
      order: 1; }
    .gridIndex #soyT {
      order: 2; }
    .gridIndex #cream {
      display: none; } }

footer {
  grid-area: foot; }

.pie {
  background-color: #000;
  color: #ABAD9A;
  width: 100vw;
  padding: 1rem;
  bottom: 0;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem; }
  .pie .iconos {
    display: flex;
    justify-items: center;
    gap: 2rem;
    padding-top: 2rem; }
  .pie .legal {
    display: flex;
    flex-direction: column; }
  .pie a {
    font-weight: 600;
    margin: 0% 3%;
    color: #ABAD9A; }
    .pie a:hover {
      color: #BFE028;
      transition: 0.2s ease-out; }

@media (max-width: 992px) {
  .pie .iconos {
    width: 100vw;
    justify-content: space-evenly; } }

.bi {
  height: 2em;
  width: auto; }
  .bi :hover {
    color: #BFE028;
    transition: 0.2s ease-out; }

header {
  grid-area: head; }

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: -4px 4px 10px black;
  border-bottom: 1px solid #464838;
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto; }
  .navbar .logo {
    width: 15rem;
    height: auto; }
    .navbar .logo:hover {
      filter: drop-shadow(-1px 0px 5px #ABAD9A);
      transition: 0.5s ease-out; }
  .navbar img {
    margin-left: 7%; }
  .navbar ul {
    margin-right: 7%; }
  .navbar .nav-link {
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 700;
    font-size: 1.2vw; }
    .navbar .nav-link:hover {
      color: #BFE028 !important;
      filter: drop-shadow(1px 0px 5px rgba(255, 255, 255, 0.3));
      transition: 0.5s ease-out; }
  .navbar .navbar-toggler {
    font-size: 1em;
    margin-right: 7%; }

@media (max-width: 768px) {
  .navbar .nav-link {
    font-size: 1rem; } }

@media (min-width: 1300px) {
  .navbar .nav-link {
    font-size: 1rem; } }

.carousel {
  max-width: 400px;
  height: auto;
  overflow: hidden; }

.wrapCaru {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  padding: 5vh;
  width: fit-content;
  gap: 1em;
  overflow: hidden; }

.bg-light {
  background-color: rgba(255, 255, 255, 0.3) !important;
  box-shadow: -4px 4px 10px black;
  border: 1px solid #ABAD9A;
  border-radius: 10px; }
  .bg-light span {
    font-weight: 400; }

.bg-dark {
  background-color: rgba(0, 0, 0, 0.4) !important; }

.rounded {
  border-radius: 3% !important; }

.warning {
  color: #BFE028; }

.container p a:hover {
  color: #BFE028;
  text-shadow: #fff 2px 2px 10px; }

.colCon {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contacWrap {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  margin: 5vh auto;
  display: flex;
  height: fit-content;
  max-width: 60rem;
  min-width: 300px;
  align-items: center;
  padding: 1rem;
  caret-color: #BFE028; }

.display-8 {
  font-size: 1em; }

fieldset label,
fieldset input {
  margin-top: 1em; }

fieldset input,
fieldset textarea,
fieldset div select {
  background-color: #fff; }

.boton {
  margin: 2em;
  background-color: #BFE028;
  color: #000;
  text-transform: uppercase;
  padding: .5em;
  font-weight: 600;
  box-shadow: -2vh 2vh #222; }

.QSwrap {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  margin: 5vh auto;
  display: flex;
  height: fit-content;
  max-width: 60rem;
  align-items: center;
  justify-content: space-between; }
  .QSwrap p {
    width: 30%;
    margin: auto;
    text-align: center;
    font-weight: 600; }
  .QSwrap img {
    border-radius: 3%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: auto;
    width: 50%;
    margin: 1rem; }

.reverse {
  flex-direction: row-reverse; }

@media (max-width: 992px) {
  .QSwrap {
    flex-direction: column-reverse;
    padding: 1em;
    margin: 3rem auto;
    max-width: 500px; }
    .QSwrap img {
      width: 100%; }
    .QSwrap p {
      width: 100%;
      font-weight: 500; } }

@media (max-width: 768px) {
  .QSwrap {
    max-width: 400px; }
  .reverse {
    flex-direction: column; } }

.grilla3 {
  display: flex;
  place-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem; }

.modDisWrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  max-width: 20rem;
  margin: 2rem;
  padding: 1rem; }
  .modDisWrap img {
    border-radius: 3%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    height: 80%; }

@media (max-width: 992px) {
  .grilla3 {
    flex-direction: column; }
  .modDisWrap {
    width: 70vw; }
    .modDisWrap img {
      height: 60%; } }

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Mono', monospace; }

.wrapTotal {
  background-color: #ABAD9A;
  background-image: url(../images/trbien.png);
  max-width: 100%;
  overflow-x: hidden;
  z-index: -1; }

.colConte {
  display: grid;
  grid-template-areas: "head" "main" "foot"; }

main {
  grid-area: main; }

.wrap {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  margin: 3em auto 0em auto;
  width: fit-content;
  max-width: 60rem;
  padding: 2em;
  display: flex;
  max-height: 28rem; }
  .wrap img {
    border-radius: 3%;
    border: 1px solid rgba(255, 255, 255, 0.4); }

@media (max-width: 992px) {
  .wrap {
    height: auto;
    padding-left: 4em;
    max-height: fit-content;
    margin: 3rem; } }

@media (max-width: 576px) {
  .wrap {
    margin: 10%;
    padding: 1em; } }

.texto {
  text-transform: uppercase;
  text-align: justify;
  color: #FFF;
  margin: 3rem auto;
  text-align: center;
  text-shadow: 1px 1px 10px #ABAD9A;
  font-weight: 600; }

.titulo {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  padding: 1rem;
  max-width: 700px; }
  .titulo a {
    text-decoration: none;
    color: #BFE028; }
    .titulo a:hover {
      filter: drop-shadow(1px 0px 5px rgba(255, 255, 255, 0.3)); }

.sombra {
  text-shadow: #BFE028 2px 2px; }

.sombraInvertida {
  text-shadow: #BFE028 2px -2px; }

.display-7 {
  font-size: 2rem; }

.sombraTenue {
  text-shadow: #BFE028 2px 2px 5px; }
