/*PALETA
#BFE028   verdeMostaza
#464838   grisOscuro
#ABAD9A   grisClaro
#00F7DA   cyanClaro
#00BCA3   cyanOscuro*/
.gridIndex {
  display: grid;
  grid-template-columns: repeat 10, 1fr;
  grid-template-rows: repeat(9, 1fr) 0.5fr;
  grid-template-areas: "buzo buzo chomba chomba soy soy soy soy" "buzo buzo chomba chomba soy soy soy soy" "buzo buzo chomba chomba atras atras cream cream" "buzo buzo chomba chomba atras atras cream cream" "buzo buzo chomba chomba atras atras cream cream" "buzo buzo chomba chomba atras atras cream cream" "buzo buzo chomba chomba atras atras cream cream" "buzo buzo chomba chomba bolso bolso cream cream" "buzo buzo chomba chomba bolso bolso cream cream" "patch patch patch patch bolso bolso cream cream";
  gap: 1em; }

.gridIndex img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 3%; }

#soyT {
  text-align: center;
  grid-area: soy;
  font-size: 1.7em;
  font-weight: 500;
  margin: 0px; }

#patch {
  color: #FFF;
  text-transform: uppercase;
  grid-area: patch;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300; }

#buzoA {
  grid-area: buzo; }

#chomba {
  grid-area: chomba;
  width: 100%; }

#bolso {
  grid-area: bolso;
  height: 100%; }

#cream {
  grid-area: cream;
  height: 100%;
  width: 100%; }

#atras {
  grid-area: atras;
  width: 100%; }

@media (max-width: 992px) {
  .gridIndex {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 2fr); }
  #buzoA {
    grid-area: 1 / 1 / 7 / 3;
    height: 100%;
    width: auto; }
  #soyT {
    grid-area: 1 / 3 / 4 / 6;
    font-size: 2em;
    padding: 0; }
  #atras {
    grid-area: 4 / 3 / 7 / 6; }
  #cream {
    grid-area: 10/1/12/4; }
  #bolso {
    display: none; }
  #patch {
    grid-area: 7 / 1 / 10 / 6; }
  #chomba {
    grid-area: 10/4/12/6;
    height: 100%;
    width: auto; } }

@media (max-width: 576px) {
  .gridIndex {
    display: flex;
    flex-direction: column-reverse; }
  #chomba {
    display: none; }
  #buzoA {
    order: 1; }
  #soyT {
    order: 2; }
  #cream {
    display: none; } }

.pie {
  background-color: #000;
  color: #ABAD9A;
  bottom: 0;
  margin-top: 10rem;
  gap: 1em;
  width: 100vw; }
  .pie a {
    font-weight: 600;
    margin: 0% 3%;
    color: #ABAD9A; }
    .pie a:hover {
      color: #BFE028; }

.bi {
  height: 2em;
  width: auto; }
  .bi :hover {
    color: #BFE028; }

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: -4px 4px 10px black;
  border-bottom: 1px solid #464838;
  width: 100vw; }
  .navbar .logo {
    width: 15rem;
    height: auto; }
    .navbar .logo:hover {
      filter: drop-shadow(-1px 0px 5px #ABAD9A); }
  .navbar img {
    margin-left: 7%; }
  .navbar ul {
    margin-right: 7%; }
  .navbar .nav-link {
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 700;
    font-size: 1.2vw; }
    .navbar .nav-link:hover {
      color: #BFE028 !important;
      filter: drop-shadow(1px 0px 5px rgba(255, 255, 255, 0.3)); }
  .navbar .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1em; }

@media (max-width: 768px) {
  .navbar .nav-link {
    font-size: 1rem; } }

.carousel {
  max-width: 400px;
  height: auto;
  overflow: hidden; }

.wrapCaru {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  padding: 5vh;
  width: fit-content;
  gap: 1em;
  overflow: hidden; }
  .wrapCaru img {
    border: 1px solid rgba(255, 255, 255, 0.4); }
  .wrapCaru video {
    border: 1px solid rgba(255, 255, 255, 0.4); }

.margen {
  margin-top: 25vh; }

.bg-light {
  background-color: rgba(255, 255, 255, 0.3) !important;
  box-shadow: -4px 4px 10px black;
  border: 1px solid #ABAD9A; }
  .bg-light span {
    font-weight: 400; }

.bg-dark {
  background-color: rgba(0, 0, 0, 0.4) !important; }

.rounded {
  border-radius: 3% !important; }

.warning {
  color: #BFE028; }

.container p a:hover {
  color: #BFE028;
  text-shadow: #fff 2px 2px 10px; }

.display-8 {
  font-size: 1em; }

fieldset label {
  margin-top: 1em; }

.boton {
  margin: 2em;
  background-color: #BFE028;
  color: #000;
  text-transform: uppercase;
  padding: .5em;
  font-weight: 600;
  box-shadow: -2vh 2vh #222; }

.contacWrap {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  margin: 10vh 20%;
  min-width: 300px;
  padding: 1rem;
  caret-color: #BFE028; }

.colCon {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.wrapQS {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  margin: 5vh auto;
  display: flex;
  height: fit-content;
  max-width: 60rem;
  align-items: center;
  justify-content: space-between; }
  .wrapQS p {
    width: 30%;
    margin: auto;
    text-align: center;
    font-weight: 600; }
  .wrapQS img {
    height: auto;
    width: 50%;
    margin: 1rem;
    border-radius: 3%;
    border: 1px solid rgba(255, 255, 255, 0.4); }

.reverse {
  flex-direction: row-reverse; }

@media (max-width: 992px) {
  .wrapQS {
    flex-direction: column-reverse;
    padding: 1em;
    margin: 3rem; }
    .wrapQS img {
      width: 100%; }
    .wrapQS p {
      width: 100%;
      font-weight: 500; }
  .reverse {
    flex-direction: column; } }

.grilla3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem; }

.modDisWrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  max-width: 20rem;
  min-height: fit-content;
  margin: auto;
  padding: 1rem; }
  .modDisWrap img {
    border-radius: 3%;
    height: 80%; }

@media (max-width: 992px) {
  .grilla3 {
    display: flex;
    flex-direction: column; }
  .modDisWrap {
    width: 70vw; }
    .modDisWrap img {
      height: 60%; } }

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Mono', monospace; }

.wrapTotal {
  background-color: #ABAD9A;
  background-image: url(../images/trbien.png);
  max-width: 100%;
  overflow-x: hidden;
  z-index: -1;
  height: 100vh; }

.wrap {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  margin: 3em auto;
  width: fit-content;
  max-width: 60rem;
  padding: 2em;
  display: flex;
  max-height: 28rem; }

.texto {
  text-transform: uppercase;
  text-align: justify;
  color: #FFF;
  margin: 3vh;
  text-align: center;
  text-shadow: 1px 1px 10px #ABAD9A; }

.titulo {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: -4px 4px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  padding: 1rem;
  text-transform: uppercase;
  color: #FFF;
  margin: 10vh 25%;
  text-align: center;
  font-weight: 600;
  max-height: 250px; }
  .titulo a {
    text-decoration: none;
    color: #BFE028; }
    .titulo a:hover {
      filter: drop-shadow(1px 0px 5px rgba(255, 255, 255, 0.3)); }

.sombra {
  text-shadow: #BFE028 2px 2px; }

.sombraInvertida {
  text-shadow: #BFE028 2px -2px; }

.display-7 {
  font-size: 2rem; }

.sombraTenue {
  text-shadow: #BFE028 2px 2px 5px; }

@media (max-width: 992px) {
  .wrap {
    height: auto;
    padding-left: 4em;
    max-height: fit-content;
    margin: 3rem; } }

@media (max-width: 576px) {
  .wrap {
    margin: 10%;
    padding: 1em; } }
