/*PALETA
#BFE028   verdeMostaza
#464838   grisOscuro
#ABAD9A   grisClaro
#00F7DA   cyanClaro
#00BCA3   cyanOscuro*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace;
}
.wrapTotal {
    background-color: #ABAD9A;
    background-repeat: round;  
    background-image: url(../images/trbien.png);
}
/*---->HEADER */
.header {
    background-color: rgba(0,0,0,.6);
    width: 100%;
}
.logo {
    width: 45vh;
    height: auto; 
}  
.navbar {
    background-color: rgba(0,0,0,.6);
}
.nav-link{
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 800;
    font-size: 1.2vw;
}
@media (max-width: 768px){
    .nav-link {
        font-size: 15px;
    }
}

.nav-link:hover{
    color: #BFE028 !important;
}
.navbar-toggler{
    background-color: rgba(255, 255, 255, .5);
    font-size: 1em;
} 


/*-----> MAIN */
.wrap {
    background-color: rgba(0,0,0,.4);
    margin:10vh;
    padding: 5vh;
    border-radius: 3%;
    display: flex;                                   
    height: 80vh;
    justify-content: space-around; 
    overflow: hid;
}
.texto {
    text-transform: uppercase;
    text-align: justify;
    color: #FFF;
    margin: 3vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.sombra {
    text-shadow:#BFE028 2px 2px 
}.sombraInvertida {
    text-shadow:#BFE028 2px -2px 
}
.titulo {
    background-color: rgba(0,0,0,.4);
    padding: 5vh;
    border-radius: 3%;
    width: 50%;
    text-transform: uppercase;
    color: #FFF;
    margin: 10vh 25%;
    text-align: center;
    font-weight: 600;
    max-height: 250px;
}
.titulo a{
    color: #BFE028;
    text-decoration: none;
    font-weight: 900;  
    margin: 0 .5em; 
}
.wrapItem {
    border-radius: 3%;
}
/*------>INDEX*/
.gridIndex {
    display: grid;
    grid-template-columns: repeat (10, 1fr);
    grid-template-rows: repeat(9, 1fr) .5fr;
    grid-template-areas:  "buzo buzo chomba chomba soy soy soy soy"
                          "buzo buzo chomba chomba soy soy soy soy"
                          "buzo buzo chomba chomba atras atras cream cream"
                          "buzo buzo chomba chomba atras atras cream cream"
                          "buzo buzo chomba chomba atras atras cream cream"
                          "buzo buzo chomba chomba atras atras cream cream"
                          "buzo buzo chomba chomba atras atras cream cream"
                          "buzo buzo chomba chomba bolso bolso cream cream"
                          "buzo buzo chomba chomba bolso bolso cream cream"
                          "patch patch patch patch bolso bolso cream cream";
                         
    column-gap: 1rem;
    row-gap: .5rem;
}
.gridIndex img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3%;
}
    #soyT{
    text-align: center;
    grid-area:soy;   
    padding-bottom: 1.9em;
}
    #patch{
    color:#FFF;
    text-transform: uppercase;
    grid-area:patch;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
}
    #buzoA {
    grid-area: buzo;
}
    #chomba {
    grid-area:chomba;
    width: 100%;
}
    #bolso {
    grid-area:bolso;
    height: 100%;
}
    #cream {
    grid-area:cream;
    height: 100%;
    width: 100%;
}
    #atras {
    grid-area:atras;
    width: 100%;
}
/* FOOTER */
.pie {
    background-color: #000;
    color: #ABAD9A;
    bottom:0;
    gap: 1em;
}
.pie a {
    font-weight: 600;
    margin: 0% 3%;
    color: #ABAD9A;
}
.pie a:hover{
    color: #BFE028;
}

.bi {
    height: 2em;
    width: auto;
}
.bi:hover {
    color: #BFE028;
}
/* ESTILOS DE Q.S.*/
.wrapQS {
    background-color: rgba(0,0,0,.4);
    margin:10vh 10%;
    padding: 5vh;
    border-radius: 3%;
    display: flex;
    height: 65vh;
    justify-content: space-evenly;
    width:fit-content;
    gap:1em;
}
.textoQS {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
    color: #FFF;
    font-weight: bold;
    font-size: 2.5vh;
    margin-top: 20%;
}
.QSItem {
    width: 60%;
    height: auto;
}
.reverse {
    flex-direction: row-reverse;
}

/*ESTILOS DE COLAB*/
.carousel {
    width: 400px;
    height: auto;
    overflow: hidden;
}
.wrapContac {
    background-color: rgba(0,0,0,.4);
    padding: 5vh;
    border-radius: 3%;
    width: fit-content;
    text-transform: uppercase;
    line-height: 5vh;
    color: #FFF;
    margin: 10vh auto;
    text-align: center;
}
.wrapContac fieldset {
    padding: 3vh;
}
.wrapFooter{
    display: flex;
}
/*MODELOS DISPONIBLES*/
.modDisGrid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.wrapModDis {
    background-color: rgba(0,0,0,.4);
    margin:10vh 5vh;
    padding: 5vh;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    gap:.5em;
    height: 65vh;
    justify-content: space-evenly;
    width: auto;
}
.textoModDis {
    text-transform: uppercase;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:900;
    font-size: 2em;
    padding: 7em 0em;
}
.sombraTenue {
    text-shadow:#BFE028 2px 2px 5px
}
.modDisItem {
    width: 80%;
    height: auto;
}.modDisItem {
    width: 80%;
    height: auto;
}
/*MEDIAQUERRY */
@media (max-width: 900px) {
    .wrap {
        height: auto;
        margin-left: 2em;
    }
    .gridIndex { 
        margin-left: 10%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 2fr);
    }
    #buzoA { 
        grid-area: 1 / 1 / 7 / 3; 
        height: 100%; 
        width: auto;
    }
    #soyT { 
        grid-area: 1 / 3 / 4 / 6; 
        font-size: 2em;
        padding: 0;
    }
    #atras { 
    grid-area: 4 / 3 / 7 / 6; 
    } 
    #cream {
    grid-area: 10/1/12/4;
    }
    #bolso {
    display: none;
    }
    #patch {
    grid-area: 7 / 1 / 10 / 6;

    }
    #chomba {
    grid-area: 10/4/12/6;
    height: 100%; 
    width: auto;}
    
    .wrapQS {
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
        gap: 2em;
    }  
    .wrapColab {
        flex-direction: column;
        height: auto;
        align-items: center;
        gap:2em;
        margin: 10vh auto;
    }  
    .wrapPequeño {
        width: 100%;
    }
    .titulo {
        width: 100%;
        margin: 10vh 0%;
    }
    .textoQS {
      margin: 0%;
    }
    .wrapItem {
        width: 90%;
        height: 30%;
    }
    .pie {
        padding-top: 15em;
    }
    .gridMero, .gridMalan {
        display: flex;
        flex-direction: column;
     }
    .modDisGrid {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .wrapModDis {
        max-width:500px;
    }
    .modDisItem {
        max-height: 300px;
        max-width: 300px;
    }
    .gridColab {
        display: block;
    }
}     


    